.container {
  color: #7a9199;
  width: 40%;
}

.media {
  display: flex;
  align-items: flex-start;
  border: 1px #7a9199 solid;
  border-collapse: collapse;
  padding: 1rem;
}

.title {
  margin: 0 0 .5rem;
  font-size: 0.8rem;
}

.figure {
  margin-right: 1rem;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
}

.body {
  flex: 1;
  font-size: 0.5rem;
}

.username {
  color: lighten(#7a9199, 10%);
  font-size: 0.5rem;
}