.container {
  // flex-grow: 1;
}

.moment {
  // margin-right: 1rem;
  // width: 50%;
  margin: 2rem 0 0 2rem;
  margin: 0 auto;
  max-width: 1280px;
}

.title {
  text-align: center;
  margin: 4rem 0;
  font-size: 4rem;
  a {
    transition: all 0.3s ease;
    &:hover {
      color: lighten(#7a9199, 20%);
    }
  }
}

